.pic{
    width: 360px;
}

.smallpic-v{
    width: 220px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.smallpic-v2{
    width: 200px;
    float: right;
    margin-left: 10px;
}

.extras {
    width: 810px;
}

.first-sentence {
    font-size: 32px;
    font-family: Lexend;
    color:#000103;
    font-weight:500;
    float: left;
    padding-right: 15px;
}

.texte {
    font-size: 20px;
    font-family: Playfair;
    color:#000103;
    line-height: 32px;
}

.rightpic {
    float: right;
}

.middlepic {
    width: 350px;
    padding: 20px;
}