.pic{
    width: 360px;
}

.bigpic{
    width: 500px;
}

.smallpic-v{
    width: 250px;
    float: left;
    margin-right: 10px;
}

.smallpic-v2{
    width: 150px;
    float: right;
    margin-left: 10px;
}

.extras {
    width: 810px;
}

.first-sentence {
    font-size: 32px;
    font-family: Lexend;
    color:#000103;
    font-weight:500;
    float: left;
    padding-right: 15px;
}

.text {
    font-size: 20px;
    font-family: Playfair;
    color:#000103;
}
