.blurb{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 30px;
}

.bio-blurb{
    display: flex;
    align-items: stretch;
    width: 500px;
    margin: 10px 0px 0px 30px;
    font-size: 12px;
    font-family: Lexend;
}

.selfie{
    height: 400px;
}

h1 {
    font-family: Playfair;
    color:#000006;
    font-weight:200;
    font-size: 14px;
}