.blurb{
    width: 810px;
}

.selfie{
    width: 320px;
    height: 410px;
    margin-right: 20px;
    float: left;
}

.photos{
    display: grid;
    grid-auto-flow: column;
    grid-gap: -40px;
    margin-top: 40px;
}


.s1 {
    width: 200px;
    rotate: -10deg;
}

.s2 {
    width: 200px;
    rotate: 15deg;
}

.s3 {
    width: 200px;
    rotate: -20deg;
    margin-left: -10px;
}

.s4 {
    width: 200px;
    rotate: 30deg;
}