.blurb{
    display: flex;
}

.bio-blurb{
    width: 440px;
    font-size: 12px;
    font-family: Lexend;
    padding: 0px 20px;
}

.selfie{
    width: 280px;
}

h1 {
    font-family: Playfair;
    color:#000006;
    font-weight:200;
    font-size: 16px;
}