.first-sentence {
    font-size: 32px;
    font-family: Lexend;
    color:#000103;
    font-weight:500;
    float: left;
    padding-right: 15px;
}

.text {
    font-size: 16px;
    font-family: Playfair;
    color:#000103;
    line-height: 1.1;
}
