@font-face {
    font-family: 'Garamond';
    font-display: swap;
    font-style: normal;
    src: url("./AppleGaramond.ttf") format("truetype");
}


@font-face {
    font-family: 'Lexend';
    font-display: swap;
    font-style: normal;
    src: url("./assetsLexend-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: 'Andale';
    font-display: swap;
    font-style: normal;
    src: url("./AndaleMono.ttf") format("truetype");
}
