.bigpic{
    width: 600px;
    float: left;
}

.headliner {
    background-color: #7C99B4;
    width: 810px;
    height: 600px;
}

.headline-text{
    font-family: Lexend;
    color:#000006;
    font-weight:400;
    font-size:34px;
}