.img-logo {
    width: 325px;
    height: 50px;
    background-image: url("../../assets/name.png");
    background-size: cover;
    transition: 0.2s ease-in-out;
}

.img-logo:hover {
    width: 325px;
    height: 50px;
    background-image: url("../../assets/namehover.png");
    background-size: cover;
}