

.entirety {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.nav-menu {
    align-items: start;
    align-content: start;
    padding-right: 30px;
}

.centered {
    justify-content: center;
}