@import "./assets/fonts/fonts.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.tan-color {
    background-color: #FAFAFA;
    height: 100%;
    width: 100%;
    cursor: crosshair;
    display: flex;
    justify-content: center;
}





