@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";



.tan-color {
    background-color: #E5E3D8;
}


 @font-face {
    font-family: "AppleGaramond";
    src: local("AppleGaramond"),
    url("../public/fonts/AppleGaramond.ttf") format ("truetype");
}
